.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book";
 }
 .text-smaller{
    -fx-font-size: 12px;
    -fx-font-family: "Avenir Book";
 }

 .text-larger{
    -fx-font-size: 14px;
    -fx-font-family: "Avenir Book";
 }

 .text-larger-bold{
    -fx-font-size: 14px;
    -fx-font-family: "Avenir Heavy";
    -fx-font-weight: Bolder;
 }

 #logo{
    -fx-font-size: 48px;
    -fx-font-family: "Phosphate";
 }

 #logo-twirl{
    -fx-font-size: 64px;
    -fx-font-family: "SignPainter";
    -fx-text-fill: #FFAC33;
    -fx-rotate: -20;
 }