.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book"; /*Labels vill inte uppdatera till denna font av någon anledning??*/
}

 .text-smaller{
    -fx-font-size: 11px;
    -fx-font-family: "Avenir Book";
 }

 .text-larger{
    -fx-font-size: 15px;
    -fx-font-family: "Avenir Book";
 }